In [14]:
import pandas as pd
data=[12,5,34,40]
s=pd.Series(data)
print(s)

0    12
1     5
2    34
3    40
dtype: int64

In [11]:
import pandas as pd
data=[10,20,30,40]
s=pd.Series([10,20,30,40],index=['a','b','c','d'])
print(s)

a    10
b    20
c    30
d    40
dtype: int64

In [13]:
import numpy as np
arr=np.array([1,2,3,4])
s=pd.Series(arr)
print(arr)

[1 2 3 4]

In [18]:
data={'a':100,'b':200,'c':300}
s=pd.Series(data)
print(s)

a    100
b    200
c    300
dtype: int64

In [19]:
s=pd.Series(5,index=['a','b','c','d'])
print(s)

a    5
b    5
c    5
d    5
dtype: int64

In [92]:
import pandas as pd
sf_data=[(1,'neha',30,'sonipat'),
         (2,'adi',30,'delhi'),
          (3,'riya',20,'chandigarh'),
           (4,'soniya',30,'gurugram'),
            (5,'panda',30,'khetawas')]
df=pd.DataFrame(sf_data,columns=['roll_no','name','age','address'])
df.head(5)
df.tail(2)
df.shape
df.columns
df.size
df.values
df.index
df.age
df.age,'address'
df.loc[[0]]
df.loc[[0,1,2]]
df.iloc[[0]]
df[df['age']<30]
df['phone_no']=[10,20,30,40,50]
df['status']='yes'
df
df['account']='null'

df=df.drop(columns=['phone_no'])
df=df.drop(columns=['age','account'])
df.insert(3,'phone_no',[10,20,30,40,50])
df=df.rename(columns={'phone_no':'contact_no'})
df=df.drop(4)
df.loc[4]=[5,'rinki','gurgaon',30,'yes']
df.loc[2,'age']=71
df['age']=30
df.loc[[0,2],'address']=['banglore','hydrabad']

df

   roll_no    name     address status
0        1    neha     sonipat    yes
1        2     adi       delhi    yes
2        3    riya  chandigarh    yes
3        4  soniya    gurugram    yes
4        5   panda    khetawas    yes